.breadcrumb{
    padding: 16px 0px;
    display: flex;
    justify-content: flex-start;

    ol{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        li{
            list-style: none;
            display: flex;
            a{
                color: $color-light-gray;
                position: relative;
                display: flex;
                font-size: 14px;
                text-decoration: none;
            }
            .chevron{
                margin: 0 4px;
                padding: 0;
                display: inline;
                float: none;
                color: $color-light-gray;
                stroke-width: 1.3;
                width: .8em;
                height: .8em;
                -webkit-transform: translateY(3px);
                transform: translateY(3px);
                stroke: currentColor;
            }

            &:last-child{
                a{
                    font-weight: bold;
                }
            }
        }
    }
}